{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">About Fort Smythe B&B</h1>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Quisque non tellus orci ac. Ut ornare lectus sit amet est placerat in egestas erat. 
                    Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Tincidunt lobortis feugiat vivamus at 
                    augue. Aliquet enim tortor at auctor. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. 
                    Nullam ac tortor vitae purus. Lorem donec massa sapien faucibus. Non tellus orci ac auctor augue mauris. 
                    Magna sit amet purus gravida quis blandit turpis. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. 
                    Viverra mauris in aliquam sem fringilla ut. Fusce ut placerat orci nulla. Nunc consequat interdum varius sit amet mattis 
                    vulputate enim. Tortor consequat id porta nibh venenatis cras sed felis eget. In iaculis nunc sed augue. Donec adipiscing 
                    tristique risus nec feugiat in fermentum posuere. Tempor orci eu lobortis elementum nibh tellus.
                </p>
                <p>
                    Etiam non quam lacus suspendisse faucibus interdum posuere. In fermentum et sollicitudin ac orci phasellus. 
                    Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Eget felis eget nunc lobortis mattis aliquam. 
                    Venenatis urna cursus eget nunc scelerisque viverra mauris in. Eros in cursus turpis massa tincidunt dui ut ornare. 
                    Nullam vehicula ipsum a arcu cursus. Enim lobortis scelerisque fermentum dui. Quisque id diam vel quam elementum pulvinar etiam.
                    Cursus metus aliquam eleifend mi in nulla. Faucibus nisl tincidunt eget nullam non nisi est. Ullamcorper malesuada proin libero
                     nunc consequat interdum varius. Bibendum neque egestas congue quisque egestas diam in arcu cursus.
                </p>
                <p>
                    Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Sed risus ultricies tristique nulla aliquet enim. 
                    Cursus eget nunc scelerisque viverra mauris. Imperdiet massa tincidunt nunc pulvinar sapien. Neque viverra justo nec 
                    ultrices dui sapien eget mi. Id interdum velit laoreet id. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. 
                    Mauris rhoncus aenean vel elit scelerisque mauris. Egestas congue quisque egestas diam in arcu cursus euismod quis. 
                    Egestas integer eget aliquet nibh. Fusce ut placerat orci nulla pellentesque dignissim. At in tellus integer feugiat 
                    scelerisque. Adipiscing commodo elit at imperdiet dui accumsan sit. Ornare aenean euismod elementum nisi quis.
                </p>
                <p>
                    Lacus luctus accumsan tortor posuere ac ut. Arcu dictum varius duis at consectetur. Aliquet risus feugiat in ante metus 
                    dictum at tempor commodo. Enim nulla aliquet porttitor lacus luctus accumsan. Aenean vel elit scelerisque mauris pellentesque.
                     Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Aliquam ut porttitor leo a diam sollicitudin tempor id eu.
                      Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Sagittis vitae et leo duis ut diam quam nulla. 
                      Mauris augue neque gravida in. Interdum velit euismod in pellentesque massa placerat duis ultricies. Diam maecenas sed 
                      enim ut sem viverra aliquet eget. At consectetur lorem donec massa sapien. Pharetra diam sit amet nisl suscipit 
                      adipiscing bibendum est. Proin nibh nisl condimentum id venenatis a condimentum. Pharetra convallis posuere morbi leo.
                </p>
            </div>
        </div>
    </div>
{{end}}
