{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col text-center">
                    <h2 class="mt-2">Contact us</h2>
                    <hr>
                    <strong>Fort Smythe B&B</strong><br>
                    100 Rocky Road<br>
                    Northbook, Ontario<br>
                    Canada<br>
                    (416) 555-1212<br>
                    <a href="mailto:info@fsbb.ca" style="color: black;">info@fsbb.ca</a>
                </div>
            </div>
        </div>
    </div>
{{end}}
